*{
    background-color:aquamarine;
}

header{
    padding-left: 40%;
}

nav{
    padding-left:20%;
}

img{
    max-width: 20%;
    max-height: 20%;
}

nav ul li{
    display: inline-block;
}

section{
    padding-top:50px;
    padding-left: 10%;
}

#contacto{
    padding-top:100px;
    padding-left:43%;
}

#derechos{
    padding-left:35%;
}


